@model VoteIndia.Models.QuestionsAnswer

    @{
        ViewBag.Title = "Home Page";
    }
    <style>
        .jumbotron {
            min-height: 100%;
        }
        input[type="radio"] {
            margin: 0 10px 10px 10px;
        }
        .center-block {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
<body>
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
@Html.HiddenFor(m => m.id, new { @id = "id" })
@*    @Html.Hidden("qid", Model.id, new { @id = "id" })*@
    <div class="row">
        <div class="col-md-12 ">
            <div class="col-md-8 center-block">
                <h3> Question : </h3>
                @Html.Label(Model.Description)

                <h3>Options : </h3>
                @foreach (var option in Model.Options)
                {

                    <h6>
                        @Html.RadioButtonFor(m=>m.selectanswer,@option,false)
                        @Html.Label(@option)
                    </h6>
                }
               <input id="btnSubmit" type="submit" value="Submit" />
            </div>
            
            <div class="col-md-4 jumbotron">
                <p><a class="btn btn-default active" href="#">Who is the best comedian?</a></p>
                <p><a class="btn btn-default" href="#">Who is the best criketer?</a></p>
            </div>
        </div>
   </div>
}
</body>
